%component {
    background-attachment: fixed;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    height: 100%;
}
