// Colors
$red: #bf1930;
$grey: #b9bbbf;

// Theme colors
$body-bg: #050e1b;
$body-color: #fff;

$nav-bg: #050e1b;
$nav-border: #bf1930;
$nav-bg-over: #17273d;

// Fonts
$font: 'PT Sans', sans-serif;
$font-custom: 'Russo One',sans-serif;
