@import '_functions';
@import '_variables';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    background-color: $nav-bg;
    border-right: 0.125rem solid $nav-border;
    transition: width 0.5s ease;
    width: $navWidth;
    z-index: 50;

    @include min-width(lg) {
        &::after {
            background-image: url('/assets/images/bg-nav.png');
            background-repeat: no-repeat;
            background-size: 3.75rem;
            content: ' ';
            height: 60px;
            left: 100%;
            position: absolute;
            top: 0;
            width: $navWidth;
        }
    }

    &:hover {
        width: $navWidthOpened;

        & ~ .main {
            &::after {
                background: rgba(0, 0, 0, 0.5);
                bottom: 0;
                content: ' ';
                left: 60px;
                opacity: 1;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 25;
            }
        }
    }

    // Brand
    .brand {
        align-items: center;
        background-color: $red;
        color: $white;
        display: flex;
        height: 3.75rem;

        &__number {
            font-family: $font-custom;
            font-size: 1.875rem;
            margin-left: 1.25rem;
        }

        &__author {
            font-size: 1rem;
            margin-left: 0.9375rem;
            opacity: 0;
            transition: opacity 0.75s ease;
            white-space: nowrap;
        }
    }

    // Menu

    // Langs
}

.main {
    right: 0;

    &__inner {
        height: 100%;
    }
}

.nav,
.main {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
}
