@import '_variables';

:host {
    display: block;
    height: 100%;
}

.bg {
    background-image: url('/assets/images/home/bg.jpg');
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    position: relative;

    &::after {
        background-image: linear-gradient(transparent, $black);
        bottom: 0;
        content: ' ';
        left: 0;
        height: 50%;
        position: absolute;
        right: 0;
    }
}
